body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.column-center {
    background-color: white;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.column-left,.column-right {
    background-color: black;
    width: 25%;
}

.nav-bar {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-bar a {
    color: green;
    text-decoration: none;
    margin-right: 15px;
}

.nav bar a:hover {
    text-decoration: underline;
}

.main text {
    color: black;
    font-size: 16px;
}

/* Links that have not been visited */
a:link {
    color: green; 
    text-decoration: none; 
}
/* Links that have been visited */
a:visited {
    color: green; 
    text-decoration: none; 
}
